.DS_Store
fast_settings.py
docker_settings.json
settings.json
.idea/
.python-version
__pycache__/
*.db
*.swp
files/
.env
out/
static/cached_pair_addresses.json

# Ignore dynaconf secret files
.secrets.*
bloom_filter_objects/
containers/
startup.sh
test_eco.config.js
backup_height.json
Pipfile
Pipfile.lock
temp_files/

docker/account_info.json
docker/settings.json

test.py

#ignore go binaries
go/payload-commit/payload-commit
go/go-tester/go-tester
go/pruning-archival/pruning-archival
go/token-aggregator/token-aggregator
go/dag-verifier/dag-verifier
