[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pygate-grpc = "*"
redis = "*"
aioredis = "*"
siaskynet = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
