fastapi
uvicorn
pygate_grpc
git+https://github.com/blockvigil/maticvigil-python-sdk.git
eth_utils
async_timeout
hiredis
aioredis>=2.0,<2.1
aiofiles
aiohttp
redis>=4.2,<4.3
coloredlogs
#git+https://github.com/ipfs/py-ipfs-http-client.git
git+https://github.com/ipfs-shipyard/py-ipfs-http-client.git@bcec97aa83cf0b0348d8e160c3f68dc8495dbc1b
# ipfshttpclient
dynaconf
backports.pbkdf2
certifi
cffi
chardet
idna
pycparser
six
urllib3
gunicorn
loguru
httptools
uvloop
bloom_filter
requests
tenacity==8.0.1
greenletio
siaskynet
web3==5.23.1
aio_pika==6.8.0
pika==1.2.0
psutil
