fastapi
uvicorn
pygate_grpc
git+https://github.com/blockvigil/maticvigil-python-sdk.git
eth_utils
async_timeout
hiredis
aioredis>=2.0,<2.1
aiofiles
aiohttp
redis>=4.2,<4.3
coloredlogs
#git+https://github.com/ipfs/py-ipfs-http-client.git
git+https://github.com/anomit/IPFS-Toolkit-Python.git@5c4ebe4c385c96a8f122d7e380710d4e7baa711d
dynaconf
backports.pbkdf2
certifi
cffi
chardet
idna
pycparser
six
urllib3
gunicorn
loguru
httptools
uvloop
bloom_filter
requests>=2.27,<2.28
tenacity==8.0.1
greenletio
siaskynet
web3==5.23.1
aio_pika==6.8.0
pika==1.2.0
psutil
rich
cardinality
httpx==0.22.0
typer==0.3.2
typing-extensions==3.7.4.3